.ghost {
  position:absolute;
  animation:roam-the-earth 10s ease normal infinite;
}
.ghost div {
  position:relative;
  width:220px;
  height:220px;
  animation:hover 0.5s linear alternate infinite;
  opacity:0.1;
  transition:opacity 0.2s;
  background-image:url(ghost.png);
}

.ghost:hover div{
  opacity:1;
  transition:opacity 0.2s;
}

@keyframes hover{
  from{
    bottom:0px;
    transform:rotate(-5deg);
  }
  to{
    bottom:30px;
    transform:rotate(5deg);
  }
}
@keyframes roam-the-earth{
  0%{
    bottom:100%;
    left:-220px;
  }
  20%{
    bottom:0px;
    left:0px;
    transform:rotate(0deg)
  }
  40%{
    bottom:90%;
    left:90%;
    transform:rotate(360deg);
  }
  60%{
    bottom:50%;
    left:0px;
    transform:rotate(0deg);
  }
  80%{
    bottom:50%;
    left:0px;
  }
  100%{
    bottom:-220px;
    left:100%;
  }
}