.ghost {
  position: absolute;
}
.ghost div {
  position: relative;
  width: 220px;
  height: 220px;
  opacity: 0.1;
  transition: opacity 0.2s;
  background-image:url(ghost.png);
}

.ghost:hover div {
  opacity: 1;
  transition: opacity 0.2s;
}

@keyframes hover {
  from {

  }
  to {

  }
}

@keyframes roam-the-earth {
  0% {

  }
  20% {

  }
  40% {

  }
  60% {

  }
  80% {

  }
  100% {

  }
}
